<?xml version="1.0" encoding="utf-8"?>
<SettingFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Players>
    <PlayerSetting>
      <Name>森ユーディ</Name>
      <Score>0</Score>
      <FilePath>D:\制作物\Youtube\素材\vts-2024-01-04_17h01_34.png</FilePath>
      <Character>エド</Character>
      <ControlType>クラシック</ControlType>
      <Rank>プラチナ4</Rank>
    </PlayerSetting>
    <PlayerSetting>
      <Name>エルトリシア</Name>
      <Score>0</Score>
      <FilePath>D:\制作物\Youtube\素材\k0852_1.png</FilePath>
      <Character>キャミィ</Character>
      <ControlType>モダン</ControlType>
      <Rank>マスター (MR1500)</Rank>
    </PlayerSetting>
  </Players>
  <InfoText>決勝戦</InfoText>
</SettingFile>