<?xml version="1.0" encoding="utf-8"?>
<SettingFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Players>
    <PlayerSetting>
      <Name>推理ロボKQGE</Name>
      <Score>9</Score>
    </PlayerSetting>
    <PlayerSetting>
      <Name>森ユーディ</Name>
      <Score>5</Score>
    </PlayerSetting>
  </Players>
  <InfoText>決勝戦</InfoText>
</SettingFile>