<!DOCTYPE html>
<meta charset="UTF-8">
<title>対戦カード表示</title>
<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="matchup.css">
</head>

<body>
<div id="wrapper">
	<div id="player1" class="player">
		<div id="nickName1" class="nickName">嵐を呼ぶルーク使い</div>
		<div id="playerName1" class="playerName">スト6太郎</div>
		<img id="icon1" class="icon" src="icons/player1.png">
		<ul id="playerData1" class="playerData">
			<li><div>使用キャラ</div><div class="value">ルーク</div></li>
			<li><div>操作タイプ</div><div class="value">クラシック</div></li>
			<li><div>ランク</div><div class="value">プラチナ4</div></li>
		</ul>
	</div>
	<div id="player2" class="player">
		<div id="nickName2" class="nickName">鉄壁の野良猫</div>
		<div id="playerName2" class="playerName">スト6次郎</div>
		<img id="icon2" class="icon" src="icons/player1.png">
		<ul id="playerData2" class="playerData">
			<li><div>使用キャラ</div><div class="value">エド</div></li>
			<li><div>操作タイプ</div><div class="value">モダン</div></li>
			<li><div>ランク</div><div class="value">プラチナ3</div></li>
		</ul>
	</div>
</div>
</body>
</html>