<!DOCTYPE html>
<meta charset="UTF-8">
<title>スコア表示</title>
<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
<div id="wrapper">
	<div id="centerTopText">BO5</div>
	<div id="player1" class="player">
		<div id="playerName1" class="playerName">{player1Name}</div>
		<div id="score1" class="score">4</div>
	</div>
	<div id="player2" class="player">
		<div id="playerName2" class="playerName">{player2Name}</div>
		<div id="score2" class="score">1</div>
	</div>
	<div id="centerBottomText">しめさば杯 85回戦</div>
</div>
</body>
</html>